Repository hituzi-no-sippo/tp-bg: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, taplo-format, taplo-lint

dprint:
  name: dprint
  language: system
  entry: dprint fmt

taplo-format:
  name: Taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: Taplo lint
  language: system
  entry: taplo lint

ci(CHANGELOG): add git hook to lint generated CHANGELOG
  .pre-commit-config.yaml
  docs/dev/writing-docs/release.adoc
Due: dprint

ci(CHANGELOG): add GitHub Action to lint generated CHANGELOG.md
  .github/actions/setup-markdown-formatter-and-linter/action.yml
  .github/workflows/lint-generated-CHANGELOG.yml
  docs/dev/writing-docs/release.adoc
Due: dprint

test(CHANGELOG): add script to lint generated CHANGELOG
  docs/dev/writing-docs/release.adoc
  package.json
  scripts/release/lint-generated-CHANGELOG.sh
Due: dprint

test(spell): ignore git directory on spell checker
  .typos.toml
Due: taplo-format, taplo-lint

build(spell): add spell checker to version manager
  README.adoc
  aqua-checksums.json
  aqua/natural-language.yaml
  docs/dev/writing-docs/natural-language.adoc
Due: dprint

test(spell): add hidden files to the files checked by the spell checker
  .typos.toml
  docs/dev/writing-docs/natural-language.adoc
Due: taplo-format, taplo-lint

ci(spell): add pre-commit hook to check spell
  .pre-commit-config.yaml
  docs/dev/writing-docs/natural-language.adoc
Due: dprint

ci(spell): add GitHub Action to check spell
  .github/matchers/typos.json
  .github/workflows/check-spell.yml
  aqua/natural-language.yaml
  docs/dev/writing-docs/natural-language.adoc
Due: dprint

build(link): add link checker to version manager
  README.adoc
  aqua-checksums.json
  aqua/link.yaml
  docs/dev/writing-docs/link.adoc
Due: dprint

docs(link): expand AsciiDoc template
  docs/dev/writing-docs/link.adoc
Due: none

test(link): exclude aqua directory for targets of link checker
  lychee.toml
Due: taplo-format, taplo-lint

test(link): exclude git directory for targets of link checker
  docs/dev/writing-docs/link.adoc
  lychee.toml
Due: taplo-format, taplo-lint

test(link): exclude node_modules directory for targets of link checker
  lychee.toml
Due: taplo-format, taplo-lint

test(link): exclude URL of GitHub repository setting from target URL of link checker
  lychee.toml
Due: taplo-format, taplo-lint

test(link): exclude files for natural language text linter from target for link checker
  lychee.toml
Due: taplo-format, taplo-lint

test(link): exclude link syntax for AsciiDoc from target pattern of link checker
  lychee.toml
Due: taplo-format, taplo-lint

test(link): exclude URL of YAML formatter from target URL of link checker
  lychee.toml
Due: taplo-format, taplo-lint

ci(link): add GitHub Action to check broken links
  .github/actions/check-broken-links/action.yml
  .github/workflows/check-broken-links.yml
  aqua/link.yaml
  docs/dev/writing-docs/link.adoc
  lychee.toml
Due: dprint, taplo-format, taplo-lint

ci(link): add GitHub Action to check broken links on pull request
  .github/workflows/check-broken-links-on-pull-request.yml
  .github/workflows/check-broken-links.yml
  docs/dev/writing-docs/link.adoc
Due: dprint

ci(link): add pre-commit hook to check broken links with lychee
  .gitignore
  .pre-commit-config.yaml
  docs/dev/writing-docs/link.adoc
Due: dprint

docs(security): expand AsciiDoc template
  .vale/styles/Vocab/Base/accept.txt
  docs/dev/security/detecting-hardcoded-secrets.adoc
Due: none

ci(link): add GitHub Action to create or update a issue for broken links
  .github/workflows/create-or-update-issue-for-broken-links.yml
  docs/dev/writing-docs/link.adoc
Due: dprint

build(security): add detecting hardcoded secrets tool to version manager
  .vale/styles/Vocab/Base/accept.txt
  README.adoc
  aqua-checksums.json
  aqua/security.yaml
  docs/dev/security/detecting-hardcoded-secrets.adoc
Due: dprint

ci(security): add GitHub Action to alert leaked secrets
  .github/workflows/alert-leaked-secrets.yml
  docs/dev/security/detecting-hardcoded-secrets.adoc
Due: dprint

ci(security): add git hook to detect hardcoded secrets with Gitleaks
  .pre-commit-config.yaml
  docs/dev/security/detecting-hardcoded-secrets.adoc
Due: dprint

style(commit-msg): add shell script to extract commit msg from file
  scripts/git/extract-commit-msg.sh
Due: none

style(commit-msg): add shell script to format commit message with dprint
  docs/dev/git/commit-message.adoc
  scripts/git/format-commit-msg.sh
Due: none

ci(commit-msg): add GitHub Action to lint commit message style
  .github/actions/output-git-commit-message-to-file/action.yml
  .github/workflows/lint-git-commit-message.yml
  docs/dev/git/commit-message.adoc
Due: dprint

style(commit-msg): add shell script to format commit message with markdownlint
  docs/dev/git/commit-message.adoc
  scripts/git/format-commit-msg.sh
Due: none

ci(commit-msg): add commit-msg hook to format commit message
  .pre-commit-config.yaml
  docs/dev/git/commit-message.adoc
Due: dprint

ci(commit-msg): add commit-msg hook to lint natural language text of commit message
  .pre-commit-config.yaml
  docs/dev/git/commit-message.adoc
Due: dprint

chore(commit-msg): add shell script to lint natural language text for commit message
  .vale.ini
  docs/dev/git/commit-message.adoc
  scripts/git/lint-natural-language-text-of-commit-msg.sh
Due: none

test(commit-msg): define terms used in the commit message
  .vale/styles/Vocab/Base/accept.txt
  .vale/styles/Vocab/Base/vocab.txt
Due: none

ci(commit-msg): add GitHub Action to lint natural language text of commit message
  .github/workflows/lint-git-commit-message.yml
  aqua/natural-language.yaml
  docs/dev/git/commit-message.adoc
Due: dprint

chore(commit-msg): add shell script to check broken links of commit message
  docs/dev/git/commit-message.adoc
  scripts/git/check-broken-links-of-commit-msg.sh
Due: none

ci(commit-msg): add commit-msg hook to check broken links of commit message
  .pre-commit-config.yaml
  docs/dev/git/commit-message.adoc
Due: dprint

ci(commit-msg): add GitHub Action to check broken links of commit message
  .github/actions/check-broken-links/action.yml
  .github/workflows/check-broken-links.yml
  .github/workflows/lint-git-commit-message.yml
  docs/dev/git/commit-message.adoc
Due: dprint

docs(code-complexity): expand AsciiDoc template
  docs/dev/code-analyze/code-complexity.adoc
Due: none

test(code-complexity): add limit of lines of code, CCN and etc.
  .vale/styles/Vocab/Base/vocab.txt
  docs/dev/code-analyze/code-complexity.adoc
  scripts/code-analyze/check-code-complexity.sh
Due: none

build(code-complexity): add setup script for code complexity analyser
  README.adoc
  docs/dev/code-analyze/code-complexity.adoc
  scripts/setup.sh
Due: none

Path conditions:
  dprint: any of: \.json$, \.(yaml|yml)$
  taplo-format: any of: \.toml$
  taplo-lint: any of: \.toml$
