Repository hituzi-no-sippo/tp-bg: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, taplo-format, taplo-lint

dprint:
  name: dprint
  language: system
  entry: dprint fmt

taplo-format:
  name: Taplo format
  language: system
  entry: taplo format

taplo-lint:
  name: Taplo lint
  language: system
  entry: taplo lint

docs(release): expand AsciiDoc document template
  docs/dev/writing-docs/release.adoc
Due: none

build(CHANGELOG): add CHANGELOG generator to version manager
  README.adoc
  aqua-checksums.json
  aqua/release.yaml
  docs/dev/writing-docs/release.adoc
Due: dprint

chore(CHANGELOG): generate config file for CHANGELOG generator
  cliff.toml
  docs/dev/writing-docs/release.adoc
Due: taplo-format, taplo-lint

chore(CHANGELOG): remove skip tags to CHANGELOG generator
  cliff.toml
Due: taplo-format, taplo-lint

chore(CHANGELOG): add replacement for issue numbers on CHANGELOG
  README.adoc
  cliff.toml
Due: taplo-format, taplo-lint

chore(CHANGELOG): change pre-release tag commit to release tag commit
  cliff.toml
  docs/dev/writing-docs/release.adoc
Due: taplo-format, taplo-lint

chore(CHANGELOG): rename group of ci commit type to CI
  cliff.toml
Due: taplo-format, taplo-lint

chore(CHANGELOG): change the definition of security group
  .vale/styles/Vocab/Base/vocab.txt
  cliff.toml
  docs/dev/writing-docs/release.adoc
Due: taplo-format, taplo-lint

chore(CHANGELOG): add keywords used to link issues to CHANGELOG
  cliff.toml
  docs/dev/writing-docs/release.adoc
Due: taplo-format, taplo-lint

chore(CHANGELOG): change the priority of the security group to the highest level
  cliff.toml
  docs/dev/writing-docs/release.adoc
Due: taplo-format, taplo-lint

chore(CHANGELOG): add scope section to CHANGELOG
  cliff.toml
  docs/dev/writing-docs/release.adoc
Due: taplo-format, taplo-lint

chore(CHANGELOG): add commit id to CHANGELOG
  cliff.toml
Due: taplo-format, taplo-lint

chore(CHANGELOG): add Breaking Change section to CHANGELOG
  cliff.toml
Due: taplo-format, taplo-lint

chore(CHANGELOG): change scope format to title case on CHANGELOG
  cliff.toml
Due: taplo-format, taplo-lint

chore(CHANGELOG): add commit range for tag to CHANGELOG
  cliff.toml
  docs/dev/writing-docs/release.adoc
Due: taplo-format, taplo-lint

chore(release): change version prefix to 'v'
  README.adoc
  cog.toml
  docs/dev/writing-docs/release.adoc
Due: taplo-format, taplo-lint

chore(release): add shell script to prepare release
  docs/dev/writing-docs/release.adoc
  scripts/release/generate-CHANGELOG.sh
  scripts/release/prepare-release.sh
Due: none

chore(release): allow bumping only on branch main
  cog.toml
Due: taplo-format, taplo-lint

chore(release-note): add CHANGELOG generator configuration for Release Note
  .git-cliff/release-note.toml
Due: taplo-format, taplo-lint

chore(release-note): remove skip tags to CHANGELOG generator for Release Note
  .git-cliff/release-note.toml
Due: taplo-format, taplo-lint

chore(release-note): skip writing certain types of commits to Release Note
  .git-cliff/release-note.toml
Due: taplo-format, taplo-lint

chore(release-note): add documentation section to Release Note
  .git-cliff/release-note.toml
Due: taplo-format, taplo-lint

chore(release-note): skip typo fix commit from Release Note
  .git-cliff/release-note.toml
Due: taplo-format, taplo-lint

chore(release-note): add scope section to Release Note
  .git-cliff/release-note.toml
Due: taplo-format, taplo-lint

chore(release-note): skip url or link commit from Release Note
  .git-cliff/release-note.toml
Due: taplo-format, taplo-lint

chore(release-note): add commit id to Release Note
  .git-cliff/release-note.toml
Due: taplo-format, taplo-lint

chore(release-note): add Breaking Change section to Release Note
  .git-cliff/release-note.toml
  docs/dev/writing-docs/release.adoc
Due: taplo-format, taplo-lint

ci(github-release): add GitHub Action to create GitHub Release
  .github/workflows/create-github-release.yml
  aqua/release.yaml
  docs/dev/writing-docs/release.adoc
Due: dprint

docs(markdown): expand AsciiDoc document template
  docs/dev/writing-docs/markdown.adoc
Due: none

docs(markdown): add markdown formatter
  README.adoc
  docs/dev/writing-docs/markdown.adoc
Due: none

style(markdown): add config for Markdown formatter
  .dprint.json
  docs/dev/writing-docs/markdown.adoc
Due: dprint

ci(markdown): add git pre-commit hook to check Markdown format
  .pre-commit-config.yaml
  docs/dev/writing-docs/markdown.adoc
Due: dprint

ci(markdown): add GitHub Action to check Markdown format
  .github/workflows/lint-markdown.yml
  docs/dev/writing-docs/markdown.adoc
Due: dprint

build(markdown): add setup script for markdown linter
  .gitignore
  README.adoc
  docs/dev/writing-docs/markdown.adoc
  package-lock.json
  package.json
  renovate.json
  scripts/setup.sh
Due: dprint

test(markdown): avoid violation for CAHNGELOG
  .markdownlint.yml
  docs/dev/writing-docs/markdown.adoc
Due: dprint

test(markdown): ignore node_modules on markdown lint
  .markdownlintignore
  docs/dev/writing-docs/markdown.adoc
Due: none

test(markdown): ignore files for natural language text linter on markdown lint
  .markdownlintignore
Due: none

ci(markdown): add GitHub Action to lint Markdown with reviewdog
  .github/workflows/lint-markdown.yml
  docs/dev/writing-docs/markdown.adoc
Due: dprint

ci(markdown): add git pre-commit hook to lint markdown
  .pre-commit-config.yaml
  docs/dev/writing-docs/markdown.adoc
Due: dprint

style(CHANGELOG): add script to check generated CHANGELOG format
  scripts/release/lint-generated-CHANGELOG.sh
Due: none

Path conditions:
  dprint: any of: \.json$, \.(yaml|yml)$
  taplo-format: any of: \.toml$
  taplo-lint: any of: \.toml$
